<div class="floating-table-container">
  <h3>点击记录</h3>
  <table class="floating-table">
      <thead>
          <tr>
              <!-- <th>Type</th> -->
              <th>ID</th>
              <!-- <th>id</th> -->
              <!-- <th>FloorNum</th> -->
              <th>Name</th>
              <!-- <th>X</th> -->
              <!-- <th>Y</th> -->
              <!-- <th>Z</th> -->
          </tr>
      </thead>
      <tbody>
          <!-- 动态内容将被插入这里 -->
      </tbody>
  </table>
  <button id="add-row" class="btn btn-primary">添加行</button>
</div>
